.float-button {
    border: none;
    color: #FFF;
    background-color:#0d6efd;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 2rem;
    left: .75rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease, transform .3s ease;
}

.float-button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }